.DS_Store

/bin/*
/vendor/

# Tools
/scapesettings.yaml
/HelloWorld.txt
.idea

# Temporary test folder.
tests/tmp-test-data/*
!tests/tmp-test-data/.gitkeep


# Configs
gApiServiceAccountCredentials.json